#navbar {
  display: flex;
  flex-direction: column;
}
#navbar ul li a {
  font-size: 1rem;
  padding: 0px 7px;
  padding-bottom: 8px;
}
#home {
  height: 370px;
  padding: 3px 68px;
}
#home::before {
  height: 480px;
}
#home p {
  font-size: 13px;
}
#services {
  flex-direction: column;
}
#services .box {
  margin: 2px 0px;
}
#clients {
  flex-wrap: wrap;
}
#clients img {
  width: 66px;
  height: 66px;
  padding: 0px 6px;
}
#contact-box form {
  width: 60%;
}
.btn {
  font-size: 13px;
  padding: 4px 8px;
  border-radius: 5px;
}
.btn:hover {
  color: #f7f7f7;
  background: #000;
  cursor: pointer;
}
@keyframes btnHover {
}
